html, body {
    /* background-color: #171717; */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    background-color: #171717;
    z-index: 1000;
}

#header img {
    width: 180px;
    height: 70px;
    margin-left: 200px;
}

.header-list ul {
    display: flex;
    list-style: none;
    gap: 90px;
    margin-left: 600px;
    margin-right: 20px;
}

.header-list ul li {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.header-list ul li:hover {
    color: #44B3C7;
    text-decoration: underline;
}

.header-list ul li a {
    color: inherit;
    text-decoration: none;
}

/* Home Section */
#home {
    width: 100%;
    background-color: white;
    padding-top: 30vh; /* To avoid overlap with fixed header */
   
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.pic {
    height: 300px;
    width: 300px;
}


.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.my-info{

    text-align: center;

}

.my-info h1{
    font-size: 50px;
    margin-top: 50px;
    letter-spacing: 2px;
}

.my-info h4{
    font-size: 200;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.social-links li{
    list-style: none;
}

.social-links li i{
    color: #171717;
    font-size: 40px;
    margin: 0 20px;
    margin-bottom: 20px;

}

.arrow-down{
    font-size: 40px;
    color: #171717;
}

/* about me */

#about-me{
    margin-top: 100px;
    padding: 200px;
    background-color: #F7F7F7;
    margin-bottom: 100px;
}

.about-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #333333;
}

.about-info h1{
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 100px;
}

.about-info h2{

    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 100;
}

/* career */








/* contact */
#contact{
    background-color: #171717;
    height: 20vh;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 100px;
}

.copyright{
    flex-basis: 50%;
    font-size: 15px;
    font-weight: normal;
    /* text-align: center; */
    
}

.contact-details{
    flex-basis: 50%;
    text-align: center;
}

.contact-details h4 {
    margin: 5px 0;
    font-size: 15px;
}
